.main {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    font-family:Helvetica, sans-serif;
    font-stretch: wider;
    font-weight:1000;
    color:black;
    background: url(https://www.xmple.com/wallpaper/white-red-gradient-linear-1824x2736-c2-ffffff-fa8072-a-90-f-14.svg);
    background-size: cover;
}

.slider {
    width: 400px;
    flex: auto;
    align-self: center;
}

.menu {
    width: 400px;
    flex: auto;
    align-self: center;
}

